*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* CABEÇALHO */
.logo{
    width: 200px;
}

header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;

}

button{
    background-color: transparent;
    font-size: 20px;
    height: 50px;
    width: fit-content;
    border: none;
    color: #fff;
}

.button1{
    text-decoration: underline;
}

.button6{
    font-size: 20px;
    background-color: #fff;
    border-radius: 50px;
    height: 50px;
    width: 160px;
    padding-left: 6px;
    border: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    transition: 0.2s ease;
    text-decoration: underline #fff;
}

.button6:hover{
    font-size: 20px;
    background-color: #a3db07;
    border-radius: 50px;
    height: 50px;
    width: 160px;
    padding-left: 6px;
    border: solid 5px #fff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-decoration: underline #a3db07;
    cursor: pointer;
}

.signsymbol{
    height: 40px;
    width: 40px;
    position: relative;
    margin-left: 13px;
    border-radius: 20px;
}

button:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* TITULO */

.banner1{
    background-image: url(../img/banners/mãos_dadas.jpg);
    min-width: 1200px;
    max-width: 100%;
    min-height: 900px;
    max-height: 900px;
    text-align: center;
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: inset 0px -200px 250px 300px rgb(26, 8, 0);
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: top;
    top: 0;
}

.titulobanner{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 300px;
    font-size: 60px;
}

.subtitulobanner{
    color: #a3db07;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 390px;
    font-size: 30px;
}

/* CARTÃO BILL GATES */

.citacaobill{
    top: 300px;
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 15%;
    margin-right: 15%;

}

.fotobillgates{
    height: 200px;
    width: 200px;
    border: solid 4px #fff;
    border-radius: 122px;
}

.frasebill{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 25px;
    text-align: justify;
}

.aspas{
    color:#a3db07;
    font-family: 'Secular One', sans-serif;
    font-size: 100px;
    top: -70px;
    position: relative;
}

.nomebill{
    display: flex;
    flex-direction: row-reverse;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    position: relative;
    top: 20px;

}

/* CARTÃO VERDE */

.cartaoverde1{
    background-color: #a3db07;
    height: 600px;
    display: flex;
    flex-direction: row;
    padding-left: 150px;
    padding-right: 150px;
    align-items: center;
    justify-content: center;

}

.texto{
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    width: 700px;
    text-align: justify;
}

.titulocartaoverde1{
    color: #fff;
    font-size: 49.4px;
}

.pcartaoverde1{
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #fff;

}

.mulher{
    width: 440px;
    height: 600px;
}

/* CARTAO BRANCO */

.cartaobranco1{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.tresitens{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
}

.simboloo{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.simboloverde{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.msgverde{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    width: 134px;
    text-align: center;
    color: #a3db07;
}

.titulocartaobranco1{
    font-size: 50px;
    color: #a3db07;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.pcartaobranco1{
    font-size: 26px;
    color: #a3db07;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-align: center;
}

.textoverde1{
    top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}

/* FOOTER */

footer{
    margin-top: 100px;
    height: 470px;
    background-color: #a3db07;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.empresas{
    display: flex;
    flex-direction: column;
    width: 47%;
    padding: 5%;
    margin: 1.5%;
}

.divisão{
    position: relative;
    height: 400px;
    background-color: #fff;
    width: 7px;
}

.textofooter{
    position: relative;
    color: #fff;
    display: flex;
    text-align: justify;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.textofooterr{
    width: 47%;
    margin: 2%;
    position: relative;
    color: #fff;
    display: flex;
    text-align: justify;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    flex-direction: column;
    font-size: 20px;
}